@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* theme colours */
@theme {
  --color-primary: #C27AFF;
  --color-secondary: #FB64B6;
  --color-dark: #030712;
  --color-light: #0A101D;
  --color-lighter: #101828;
  --color-success: #05DF72;
  --color-error: #FF6467;
  --color-heading: white;
  --color-body: #99A1AF;
  --font-sans: 'Inter', sans-serif;
}

/* typography */
body {
 @apply font-sans text-body bg-dark;
}
h1, h2, h3, h4 {
  @apply text-heading;
}

/* generic layout styles */
.site-nav {
  @apply bg-light px-2 py-4;
  nav {
    @apply mx-auto max-w-6xl flex justify-between items-center;
  }
  h1 {
    @apply font-bold text-xl;
  }
  ul {
    @apply flex items-center gap-3;
  }
}
.public {
  @apply flex flex-col justify-center text-justify min-h-lvh;
  h1 {
    @apply text-4xl;
  }
}
svg.logo {
  display: inline-block;
}
.user-display-name {
  @apply text-primary;
}

/* buttons */
.btn {
  @apply inline-flex items-center gap-2 px-4 py-2 rounded-[10px] font-normal text-white transition-opacity;
  background: linear-gradient(to right, #9810fa, #e60076);
  &:hover {
    @apply opacity-90;
  }
}
.btn-muted {
  @apply inline-flex items-center gap-2 px-4 py-2 rounded-[10px] font-normal text-body transition-all;
  background: rgba(16, 24, 40, 0.4);
  border: 2px solid rgba(153, 161, 175, 0.2);
  &:hover {
    @apply text-heading;
    border-color: rgba(153, 161, 175, 0.4);
  }
}

/* generic page styles */
.page-content {
  @apply my-4 mx-4 max-w-6xl lg:mx-auto;
}

/* auth page styles */
.auth-page {
  @apply flex flex-col items-center py-12 px-4;
  h2 {
    @apply text-3xl font-bold mb-8;
  }
}