@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* theme colours */
@theme {
  --color-primary: #C27AFF;
  --color-secondary: #FB64B6;
  --color-dark: #030712;
  --color-light: #0A101D;
  --color-lighter: #101828;
  --color-success: #05DF72;
  --color-error: #FF6467;
  --color-heading: white;
  --color-body: #99A1AF;
  --font-sans: 'Inter', sans-serif;
}

/* typography */
body {
 @apply font-sans text-body bg-dark;
}
h1, h2, h3, h4 {
  @apply text-heading;
}

/* generic layout styles */
.site-nav {
  @apply bg-light px-2 py-4;
  nav {
    @apply mx-auto max-w-6xl flex justify-between items-center;
  }
  h1 {
    @apply font-bold text-xl;
  }
}
.public {
  @apply flex flex-col justify-center text-justify min-h-lvh;
  h1 {
    @apply text-4xl;
  }
}
svg.logo {
  display: inline-block;
}

/* buttons */
.btn {
  @apply inline-block px-4 py-2 rounded-lg font-medium bg-primary text-white transition-colors;
  &:hover {
    @apply bg-secondary;
  }
}

/* generic page styles */
.page-content {
  @apply my-4 mx-4 max-w-6xl lg:mx-auto;
}