.card {
  background-color: var(--color-light);
  border-radius: 0.75rem;
  padding: 1.5rem;
}

.header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.headerText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
