.skeleton {
  background-color: var(--color-lighter);
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.05),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.text {
  height: 1rem;
  border-radius: 0.25rem;
}

.circular {
  border-radius: 50%;
}

.rectangular {
  border-radius: 0.5rem;
}
